*.apk
*.ap_

*.dex

*.class

bin/
gen/

local.properties

.classpath
.project

.idea/
.gradle
/*/local.properties
/*/out
**/build/*
/*/*/build
/*/*/production
*.iml
*.iws
*.ipr
*~
*.swp
.DS_*
**/.DS_*
**/.settings
**/.metadata
